linkon-sj/src/main/resources/wsdl/orderstorage/1_10/OrderStorageService.wsdl

<?xml version="1.0" ?><definitions xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://service.linkon.se/order/orderstorage/v1_10" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.linkon.se/order/orderstorage/v1_10">
    <import location="http://r.petra2services.linkon.se/orderstorage/1_10/OrderStorageService?wsdl=WSOrderStorageServiceInterface.wsdl" namespace="http://service.linkon.se/order/orderstorage/v1_10">
    </import>
    <binding name="WSOrderStorage-binding" type="tns:OrderStorage-service">
        <wsp:PolicyReference URI="#UsernameToken"></wsp:PolicyReference>
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
        <operation name="closeOrder">
            <documentation>
                Closes the order. The result is an empty structure.
            </documentation>
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:header message="tns:WSOrderStorage_closeOrderRequest" part="clientInformationHeader" use="literal">
                </soap:header>
                <soap:body parts="parameters" use="literal"></soap:body>
            </input>
            <output>
                <soap:header message="tns:ServerInformation" part="serverInformationHeader" use="literal">
                </soap:header>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="OrderStorageException">
                <soap:fault name="OrderStorageException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="setDistributorReferences">
            <documentation>
                Sets or updates distributor references on an order.
                Only not-null values
                will be used for
                updating existing values, i.e.
                existing values will be left unchanged if the
                request doesnt
                contain a
                new value.
                The response reflects the current distributor
                references
                stored on the order.
            </documentation>
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:header message="tns:WSOrderStorage_setDistributorReferencesRequest" part="clientInformationHeader" use="literal">
                </soap:header>
                <soap:body parts="parameters" use="literal"></soap:body>
            </input>
            <output>
                <soap:header message="tns:ServerInformation" part="serverInformationHeader" use="literal">
                </soap:header>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="OrderStorageException">
                <soap:fault name="OrderStorageException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="setOrderReferences">
            <documentation>
                Sets OrderReferences information on the order.
                The
                result is an empty structure.
            </documentation>
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:header message="tns:WSOrderStorage_setOrderReferencesRequest" part="clientInformationHeader" use="literal">
                </soap:header>
                <soap:body parts="parameters" use="literal"></soap:body>
            </input>
            <output>
                <soap:header message="tns:ServerInformation" part="serverInformationHeader" use="literal">
                </soap:header>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="OrderStorageException">
                <soap:fault name="OrderStorageException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="setTravellers">
            <documentation>
                Assigns traveller information to specified order items
                of a sales order. Additionally the operation can update order item
                properties such as mobile phone number, multi-ride ticket number,
                etc.

                The result is a listing of affected order items and (all) their
                travellers and properties. If any deviations occur they will also be
                reported in the response.
            </documentation>
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:header message="tns:WSOrderStorage_setTravellersRequest" part="clientInformationHeader" use="literal">
                </soap:header>
                <soap:body parts="parameters" use="literal"></soap:body>
            </input>
            <output>
                <soap:header message="tns:ServerInformation" part="serverInformationHeader" use="literal">
                </soap:header>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="OrderStorageException">
                <soap:fault name="OrderStorageException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="setTravellerInformation">
            <documentation>
                Assigns/modifies traveller information on the order
                for the given travellers.

                The result is a listing of affected order items and (all) their
                travellers and properties. If any deviations occur they will also be
                reported in the response.
            </documentation>
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:header message="tns:WSOrderStorage_setTravellerInformationRequest" part="clientInformationHeader" use="literal">
                </soap:header>
                <soap:body parts="parameters" use="literal"></soap:body>
            </input>
            <output>
                <soap:header message="tns:ServerInformation" part="serverInformationHeader" use="literal">
                </soap:header>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="OrderStorageException">
                <soap:fault name="OrderStorageException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="removeTravellers">
            <documentation>
                Removes traveller information from an order.
            </documentation>
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:header message="tns:WSOrderStorage_removeTravellersRequest" part="clientInformationHeader" use="literal">
                </soap:header>
                <soap:body parts="parameters" use="literal"></soap:body>
            </input>
            <output>
                <soap:header message="tns:ServerInformation" part="serverInformationHeader" use="literal">
                </soap:header>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="OrderStorageException">
                <soap:fault name="OrderStorageException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="getValidCodes">
            <documentation>
                The operation returns the valid (relevant) code lists for this
                service.
                For input values, see
                <a href="../schemas/index_CodeListNameType.html">CodeListNameType</a>
            </documentation>
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:header message="tns:WSOrderStorage_getValidCodesRequest" part="clientInformationHeader" use="literal">
                </soap:header>
                <soap:body parts="parameters" use="literal"></soap:body>
            </input>
            <output>
                <soap:header message="tns:ServerInformation" part="serverInformationHeader" use="literal">
                </soap:header>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="OrderStorageException">
                <soap:fault name="OrderStorageException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="openOrderForEdit">
            <documentation>
                Opens an order for edit.
            </documentation>
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:header message="tns:WSOrderStorage_openOrderForEditRequest" part="clientInformationHeader" use="literal">
                </soap:header>
                <soap:body parts="parameters" use="literal"></soap:body>
            </input>
            <output>
                <soap:header message="tns:ServerInformation" part="serverInformationHeader" use="literal">
                </soap:header>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="OrderStorageException">
                <soap:fault name="OrderStorageException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="validateOrderForEdit">
            <documentation>
            </documentation>
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:header message="tns:WSOrderStorageSi_validateOrderForEditQuery" part="clientInformationHeader" use="literal">
                </soap:header>
                <soap:body parts="parameters" use="literal"></soap:body>
            </input>
            <output>
                <soap:header message="tns:ServerInformation" part="serverInformationHeader" use="literal">
                </soap:header>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="OrderStorageException">
                <soap:fault name="OrderStorageException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="validateOrderForCancel">
            <documentation>
                Validates an order for cancellation.
            </documentation>
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:header message="tns:WSOrderStorage_validateOrderForCancelRequest" part="clientInformationHeader" use="literal">
                </soap:header>
                <soap:body parts="parameters" use="literal"></soap:body>
            </input>
            <output>
                <soap:header message="tns:ServerInformation" part="serverInformationHeader" use="literal">
                </soap:header>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="OrderStorageException">
                <soap:fault name="OrderStorageException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="validateChangeDeparture">
            <documentation>
                Validates an order for change to another departure.
            </documentation>
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:header message="tns:WSOrderStorage_validateChangeDepartureRequest" part="clientInformationHeader" use="literal">
                </soap:header>
                <soap:body parts="parameters" use="literal"></soap:body>
            </input>
            <output>
                <soap:header message="tns:ServerInformation" part="serverInformationHeader" use="literal">
                </soap:header>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="OrderStorageException">
                <soap:fault name="OrderStorageException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="createOrder">
            <documentation>
            </documentation>
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:header message="tns:WSOrderStorage_createOrderRequest" part="clientInformationHeader" use="literal">
                </soap:header>
                <soap:body parts="parameters" use="literal"></soap:body>
            </input>
            <output>
                <soap:header message="tns:ServerInformation" part="serverInformationHeader" use="literal">
                </soap:header>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="OrderStorageException">
                <soap:fault name="OrderStorageException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="rollbackOrderEdit">
            <documentation>
            </documentation>
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:header message="tns:WSOrderStorageSi_rollbackOrderEditRequest" part="clientInformationHeader" use="literal">
                </soap:header>
                <soap:body parts="parameters" use="literal"></soap:body>
            </input>
            <output>
                <soap:header message="tns:ServerInformation" part="serverInformationHeader" use="literal">
                </soap:header>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="OrderStorageException">
                <soap:fault name="OrderStorageException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="rollbackEditedOrderItem">
            <documentation>
            </documentation>
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:header message="tns:WSOrderStorage_rollbackEditedOrderItemRequest" part="clientInformationHeader" use="literal">
                </soap:header>
                <soap:body parts="parameters" use="literal"></soap:body>
            </input>
            <output>
                <soap:header message="tns:ServerInformation" part="serverInformationHeader" use="literal">
                </soap:header>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="OrderStorageException">
                <soap:fault name="OrderStorageException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="openOrder">
            <documentation>
                Opens an order for edit.
            </documentation>
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:header message="tns:WSOrderStorage_openOrderRequest" part="clientInformationHeader" use="literal">
                </soap:header>
                <soap:body parts="parameters" use="literal"></soap:body>
            </input>
            <output>
                <soap:header message="tns:ServerInformation" part="serverInformationHeader" use="literal">
                </soap:header>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="OrderStorageException">
                <soap:fault name="OrderStorageException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="cancelPartially">
            <documentation>
                Partially cancels an order item in a booking for an
                international travel
            </documentation>
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:header message="tns:WSOrderStorage_cancelPartiallyRequest" part="clientInformationHeader" use="literal">
                </soap:header>
                <soap:body parts="parameters" use="literal"></soap:body>
            </input>
            <output>
                <soap:header message="tns:ServerInformation" part="serverInformationHeader" use="literal">
                </soap:header>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="OrderStorageException">
                <soap:fault name="OrderStorageException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="cancel">
            <documentation>
                Cancels an order item in a booking
            </documentation>
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:header message="tns:WSOrderStorage_cancelRequest" part="clientInformationHeader" use="literal">
                </soap:header>
                <soap:body parts="parameters" use="literal"></soap:body>
            </input>
            <output>
                <soap:header message="tns:ServerInformation" part="serverInformationHeader" use="literal">
                </soap:header>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="OrderStorageException">
                <soap:fault name="OrderStorageException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="cancelSpecialReason">
            <documentation>
                With this operation you can make a cancellation of a
                booking with one or
                more reason codes.
                This operation is most probably
                suited for advanced clients. Therefore
                special privileges is needed
                to run this operation. This is enabled
                by Linkon.
            </documentation>
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:header message="tns:WSOrderStorage_cancelSpecialReasonRequest" part="clientInformationHeader" use="literal">
                </soap:header>
                <soap:body parts="parameters" use="literal"></soap:body>
            </input>
            <output>
                <soap:header message="tns:ServerInformation" part="serverInformationHeader" use="literal">
                </soap:header>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="OrderStorageException">
                <soap:fault name="OrderStorageException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="setOrderNotes">
            <documentation>
                Add notes to order
            </documentation>
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:header message="tns:WSOrderStorage_setOrderNotesRequest" part="clientInformationHeader" use="literal">
                </soap:header>
                <soap:body parts="parameters" use="literal"></soap:body>
            </input>
            <output>
                <soap:header message="tns:ServerInformation" part="serverInformationHeader" use="literal">
                </soap:header>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="OrderStorageException">
                <soap:fault name="OrderStorageException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="changeCustomerAndContract">
            <documentation>
                changes the customer id and contract number
            </documentation>
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:header message="tns:WSOrderStorage_changeCustomerAndContractRequest" part="clientInformationHeader" use="literal">
                </soap:header>
                <soap:body parts="parameters" use="literal"></soap:body>
            </input>
            <output>
                <soap:header message="tns:ServerInformation" part="serverInformationHeader" use="literal">
                </soap:header>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="OrderStorageException">
                <soap:fault name="OrderStorageException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="changeCustomer">
            <documentation>
                changes the customer id
            </documentation>
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:header message="tns:WSOrderStorage_changeCustomerRequest" part="clientInformationHeader" use="literal">
                </soap:header>
                <soap:body parts="parameters" use="literal"></soap:body>
            </input>
            <output>
                <soap:header message="tns:ServerInformation" part="serverInformationHeader" use="literal">
                </soap:header>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="OrderStorageException">
                <soap:fault name="OrderStorageException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="setAssistanceStatus">
            <documentation>
                Sets or cancels the need for assistance (ledsagning).
            </documentation>
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:header message="tns:WSOrderStorage_setAssistanceStatusRequest" part="clientInformationHeader" use="literal">
                </soap:header>
                <soap:body parts="parameters" use="literal"></soap:body>
            </input>
            <output>
                <soap:header message="tns:ServerInformation" part="serverInformationHeader" use="literal">
                </soap:header>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="OrderStorageException">
                <soap:fault name="OrderStorageException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="createVoucherFromOrder">
            <documentation>
                changes the customer id and contract number
            </documentation>
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:header message="tns:WSOrderStorage_createVoucherFromOrderRequest" part="clientInformationHeader" use="literal">
                </soap:header>
                <soap:body parts="parameters" use="literal"></soap:body>
            </input>
            <output>
                <soap:header message="tns:ServerInformation" part="serverInformationHeader" use="literal">
                </soap:header>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="OrderStorageException">
                <soap:fault name="OrderStorageException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="setRetroactiveMember">
            <documentation>
                Sets member after order is placed but before train
                departures.
            </documentation>
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:header message="tns:WSOrderStorage_setRetroactiveMemberRequest" part="clientInformationHeader" use="literal">
                </soap:header>
                <soap:body parts="parameters" use="literal"></soap:body>
            </input>
            <output>
                <soap:header message="tns:ServerInformation" part="serverInformationHeader" use="literal">
                </soap:header>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="OrderStorageException">
                <soap:fault name="OrderStorageException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="setAsRecent">
            <documentation>
                Adds an order to the list of recent orders for a user
            </documentation>
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:header message="tns:WSOrderStorage_setAsRecentRequest" part="clientInformationHeader" use="literal">
                </soap:header>
                <soap:body parts="parameters" use="literal"></soap:body>
            </input>
            <output>
                <soap:header message="tns:ServerInformation" part="serverInformationHeader" use="literal">
                </soap:header>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="OrderStorageException">
                <soap:fault name="OrderStorageException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="moveOrderItems">
            <documentation>
                Used to move order items to a different order.
            </documentation>
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:header message="tns:WSOrderStorage_moveOrderItemsRequest" part="clientInformationHeader" use="literal">
                </soap:header>
                <soap:body parts="parameters" use="literal"></soap:body>
            </input>
            <output>
                <soap:header message="tns:ServerInformation" part="serverInformationHeader" use="literal">
                </soap:header>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="OrderStorageException">
                <soap:fault name="OrderStorageException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="setRetrievalDate">
            <documentation>
                Used to set retrieval date.
            </documentation>
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:header message="tns:WSOrderStorage_setRetrievalDateRequest" part="clientInformationHeader" use="literal">
                </soap:header>
                <soap:body parts="parameters" use="literal"></soap:body>
            </input>
            <output>
                <soap:header message="tns:ServerInformation" part="serverInformationHeader" use="literal">
                </soap:header>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="OrderStorageException">
                <soap:fault name="OrderStorageException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="addNoRetrievalFeeToOrderHistory">
            <documentation>This operation creates an event in the order history,
                telling that the user has printed a ticket without taking a charge
                for it.
            </documentation>
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:header message="tns:WSOrderStorage_addNoRetrievalFeeToOrderHistoryRequest" part="clientInformationHeader" use="literal">
                </soap:header>
                <soap:body parts="parameters" use="literal"></soap:body>
            </input>
            <output>
                <soap:header message="tns:ServerInformation" part="serverInformationHeader" use="literal">
                </soap:header>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="OrderStorageException">
                <soap:fault name="OrderStorageException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="addConfirmationSentToOrderHistory">
            <documentation>This operation creates an event in the order history,
                telling that a confirmation has been sent to the customer.
            </documentation>
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:header message="tns:WSOrderStorage_addConfirmationSentToOrderHistoryRequest" part="clientInformationHeader" use="literal">
                </soap:header>
                <soap:body parts="parameters" use="literal"></soap:body>
            </input>
            <output>
                <soap:header message="tns:ServerInformation" part="serverInformationHeader" use="literal">
                </soap:header>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="OrderStorageException">
                <soap:fault name="OrderStorageException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="validateOrderForClose">
            <documentation>This method validates that an order can be
                successfully closed.
            </documentation>
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:header message="tns:WSOrderStorage_validateOrderForCloseRequest" part="clientInformationHeader" use="literal">
                </soap:header>
                <soap:body parts="parameters" use="literal"></soap:body>
            </input>
            <output>
                <soap:header message="tns:ServerInformation" part="serverInformationHeader" use="literal">
                </soap:header>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="OrderStorageException">
                <soap:fault name="OrderStorageException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="processTicket">
            <documentation>This operation tears a ticket or revoke a teared
                ticket.
            </documentation>
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:header message="tns:WSOrderStorage_processTicketRequest" part="clientInformationHeader" use="literal">
                </soap:header>
                <soap:body parts="parameters" use="literal"></soap:body>
            </input>
            <output>
                <soap:header message="tns:ServerInformation" part="serverInformationHeader" use="literal">
                </soap:header>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="OrderStorageException">
                <soap:fault name="OrderStorageException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="clearOwnership">
            <documentation>
                This operation removes the owner sales unit on an order which permits competing sales units to open the order.
            </documentation>
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:header message="tns:WSOrderStorage_clearOwnershipRequest" part="clientInformationHeader" use="literal">
                </soap:header>
                <soap:body parts="parameters" use="literal"></soap:body>
            </input>
            <output>
                <soap:header message="tns:ServerInformation" part="serverInformationHeader" use="literal">
                </soap:header>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="OrderStorageException">
                <soap:fault name="OrderStorageException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="takeOwnership">
            <documentation>This operation sets the calling sales unit as owner as the owner sales unit on an order.</documentation>
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:header message="tns:WSOrderStorage_takeOwnershipRequest" part="clientInformationHeader" use="literal">
                </soap:header>
                <soap:body parts="parameters" use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="OrderStorageException">
                <soap:fault name="OrderStorageException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="ignoreExtraBatchFeeForDistribution">
            <documentation>
                This operation manipulate the value regarding a cost if another salesunit will print a ticket for the order
            </documentation>
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:header message="tns:WSOrderStorage_ignoreExtraBatchFeeForDistributionRequest" part="clientInformationHeader" use="literal">
                </soap:header>
                <soap:body parts="parameters" use="literal"></soap:body>
            </input>
            <output>
                <soap:header message="tns:ServerInformation" part="serverInformationHeader" use="literal">
                </soap:header>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="OrderStorageException">
                <soap:fault name="OrderStorageException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="setExternalReference">
            <documentation>
                Sets external reference on order items.

            </documentation>
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:header message="tns:WSOrderStorage_setExternalReferenceRequest" part="clientInformationHeader" use="literal">
                </soap:header>
                <soap:body parts="parameters" use="literal"></soap:body>
            </input>
            <output>
                <soap:header message="tns:ServerInformation" part="serverInformationHeader" use="literal">
                </soap:header>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="OrderStorageException">
                <soap:fault name="OrderStorageException" use="literal"></soap:fault>
            </fault>
        </operation>
    </binding>
    <service name="WSOrderStorageService">
        <port binding="tns:WSOrderStorage-binding" name="WSOrderStorage-port">
            <soap:address location="http://r.petra2services.linkon.se/orderstorage/1_10/OrderStorageService"></soap:address>
        </port>
    </service>
    <wsp:Policy wsu:Id="UsernameToken">
        <sp:SupportingTokens>
            <wsp:Policy>
                <sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                    <wsp:Policy>
                        <sp:WssUsernameToken10></sp:WssUsernameToken10>
                    </wsp:Policy>
                </sp:UsernameToken>
            </wsp:Policy>
        </sp:SupportingTokens>
    </wsp:Policy>
</definitions>
        0
